.agenda{
  margin-top:20px;
  padding: 30px;
  color: white;
  height:300px;
  background: url('../img/agenda-background.png');
  @media only screen and (max-width: 1200px) {
    height: 260px;
  }
  @media only screen and (max-width: 991px) {
    background-position-x: -200px;
  }
  @media only screen and (max-width: 768px) {
    padding-top:5px;
    padding-left:10px;
    height:300px;
  }

  .container{
      margin-top:50px;
      padding:0px 50px;
      @media only screen and (max-width: 768px) {
        margin-top:20px;
      }
      @media only screen and (max-width: 400px) {
        padding-left: 13px;
        padding-right:0;
      }
  }
  &-title{
    text-transform: uppercase;
    margin-left: 30px;
  }

  &-item{
    width: 33.33333%;
    float: left;

    @media only screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 10px;
    }

    &_fecha{
      width: 20%;
      float: left;
      border-right: 1px solid white;
      span{
        display: block;
        text-align: center;
        text-transform: uppercase;
      }
      &-num{
        font-size: 50px;

        @media only screen and (max-width: 1200px) {
          font-size:35px;
        }
        @media only screen and (max-width: 991px) {
          font-size:30px;
        }
      }
      &-mes{
        position: relative;
        bottom:10px;
        font-size:16px;
        @media only screen and (max-width: 1200px) {
          font-size:12px;
        }
        @media only screen and (max-width: 991px) {
          font-size:10px;
        }
      }
    }
    &_description{
      width: 80%;
      float: left;
      padding-left:10px;

      &-title{
        font-size: 18px;
        @media only screen and (max-width: 1200px) {
          font-size:15px;
        }
        @media only screen and (max-width: 991px) {
          font-size:12px;
        }
        @media only screen and (max-width: 768px) {
          font-size: 15px;
        }
        @media only screen and (max-width: 400px) {
          font-size:12px;
        }
      }
      &-fecha{
        @media only screen and (max-width: 768px) {
          font-size: 14px;
        }
        @media only screen and (max-width: 400px) {
          font-size:12px;
        }
      }
    }
  }

}
