.carousel{
  padding: 0;
  .carousel-inner{
    .item{
      img{
        width: 100%;
      }
    }
  }

  .carousel-control{
    opacity: 1;
    background-color: none;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image:  none;
    filter: none;
    background-repeat: repeat-x;

  }

}

.glyphicon-chevron-left{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
