.evento{
  div{
    padding: 20px;
  }
  .youtube{
    width: 50%;
    float:left;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }
      iframe{
        width: 100%;
        height: 250px;

      }
      &-title{
        color: #34536D;
        text-transform: uppercase;
        font-size: 30px;
      }
  }
  .eventos{
    width: 50%;
    float: left;
    @media only screen and (max-width: 768px) {
        width: 100%;
    }

    &-title{
      color: #34536D;
      text-transform: uppercase;
      font-size: 30px;
    }
    &-img{
      width: 100%;
      height: 250px;
    }
  }
}
