.footer{
  color: white;
  background-color: #1A384B;
  padding-top: 20px;
  padding-bottom: 20px;

  .footer-inicio{
    li{
      list-style-type: none;

      a{
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
  &-inicio-left{
    width: 70%;
    float: left;
    border-right: 2px solid white;

    @media only screen and (max-width: 768px) {
      width: 100%;
      border-right: 0;
    }
    &_item{
      width: 33.3333%;
      float: left;
      @media only screen and (max-width: 768px) {
        width: 50%;
      }
      &-title{
        text-transform: uppercase;
        font-size: 18px;
      }
    }
    ul{
      padding: 0;
      margin-top:10px;

      li{
          font-size: 16px;

          @media only screen and (max-width: 768px) {
            font-size: 13px;
          }
      }
    }
  }
  .social-networks{
    width: 30%;
    float: left;
    padding-left: 30px;

    @media only screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }
    &_title{
      text-transform: uppercase;

      @media only screen and (max-width: 768px) {
          margin-top: 15px;
          font-size: 16px;
      }
    }
    &_list{
      padding:0;

      @media only screen and (max-width: 768px) {

        text-align: center;
        margin-top: 20px;
      }
      li{
        display: inline;
        padding: 10px;
      }
    }
  }

}

.footer-direccion{
  text-align: center;
  border-top:1px solid white;
  margin-top: 10px;
  padding-top:10px;
  padding-left: 50px;
  padding-right: 50px;
  span{
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .footer-inicio-left_item-last{
    width: 100%;
  }
}
