<!DOCTYPE html>
html
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet',href='main.css')
    title Inicio
  body
    nav.navbar.navbar-inverse.navbar-static-top.container
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#menu-mobile',aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') 
            img(src='../img/logo-usmp.png')
        div#menu-mobile.navbar-collapse.collapse(aria-expanded='false')
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='#') inicio
            li
              a(href='#') facultad
            li
              a(href='#') escuelas
            li
              a(href='#') posgrados
            li
              a(href='#') institutos
            li
              a(href='#') cursos de extensión
    div#carrusel.carousel.slide.container(data-ride='carousel')
      div.carousel-inner
        div.item.active
          img(src='../img/slider/1.png')
        div.item
          img(src='../img/slider/1.png')
        div.item
          img(src='../img/slider/1.png')
      a.left.carousel-control(href='#carrusel',data-slide='prev')    
        img.glyphicon.glyphicon-chevron-left(src='../img/slider/arrow.png')
        span.sr-only Previous
      a.right.carousel-control(href='#carrusel',data-slide='next')
        img.glyphicon.glyphicon-chevron-right(src='../img/slider/arrow.png')
        span.sr-only Next  
    div.container.options-middle
      div.options-middle-item
        img(src='../img/middle-opc.png')
        h2 ALUMNOS
      div.options-middle-item
        img(src='../img/middle-opc_2.png')
        h2 DOCENTES
      div.options-middle-item
        img(src='../img/middle-opc.png')
        h2 EGRESADOS
      div.options-middle-item
        img(src='../img/middle-opc_3.png')
        h2 SERVICIOS
    div.noticias.container
      h2.noticias-title  noticias
      div.noticias-item
        img.noticias-item_imagen(src='../img/noticias/noticia_1.png')
        p.noticias-item_description Lorem ipsum dolor sit amet, consectetur adipisicing elit
        a.noticias-item_leermas(href='#') Leer más
      div.noticias-item
        img.noticias-item_imagen(src='../img/noticias/noticia_1.png')
        p.noticias-item_description Lorem ipsum dolor sit amet, consectetur adipisicing elit
        a.noticias-item_leermas(href='#') Leer más
      div.noticias-item.movil-no
        img.noticias-item_imagen(src='../img/noticias/noticia_1.png')
        p.noticias-item_description Lorem ipsum dolor sit amet, consectetur adipisicing elit
        a.noticias-item_leermas(href='#') Leer más
      div.noticias-item.movil-no
        img.noticias-item_imagen(src='../img/noticias/noticia_1.png')
        p.noticias-item_description Lorem ipsum dolor sit amet, consectetur adipisicing elit
        a.noticias-item_leermas(href='#') Leer más
    div.agenda.container
      h2.agenda-title agenda
      - var n = 0;
      div.container
        while ++n < 4
          div.agenda-item
            div.agenda-item_fecha
              span.agenda-item_fecha-num 22
              span.agenda-item_fecha-mes enero
            div.agenda-item_description
              div.agenda-item_description-title Matrícula extemporánea de los Cursos de Nivelación
              div.agenda-item_description-fecha 22 de enero de 2016          
    div.evento.container
      div.youtube
        span.youtube-title fia tv
        iframe(src='https://www.youtube.com/embed/sEfgOuDRv8Y', frameborder='0' allowfullscreen)
      div.eventos
        span.eventos-title eventos
        img.eventos-img(src='../img/eventos.png')
    div.ubicacion.container
      iframe(width='100%',height='350px',frameborder='0',allowfullscreen,src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.5850812108074!2d-76.94435444927574!3d-12.072043745616982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6e79034dc63%3A0x393610bdc506718b!2sFacultad+de+Ingenier%C3%ADa+y+Arquitectura!5e0!3m2!1ses!2spe!4v1494802284539')
    footer.footer
      div.footer-inicio.container
        div.footer-inicio-left
          div.footer-inicio-left_item
            span.footer-inicio-left_item-title facultad
            ul
              li 
                a(href='#') Palabras del decano
              li 
                a(href='#') Autoridades
              li 
                a(href='#') Acreditaciones
              li 
                a(href='#') Convenios
              li 
                a(href='#') Organigrama
          div.footer-inicio-left_item
            span.footer-inicio-left_item-title escuelas
            ul
              li 
                a(href='#') Arquitectura
              li 
                a(href='#') Ciencias Aeronáuticas
              li 
                a(href='#') Ingeniería Civil
              li 
                a(href='#') Ingeniería de Computación y Sistemas
              li 
                a(href='#') Ingeniería Electrónica
              li 
                a(href='#') Ingeniería Industrial
              li 
                a(href='#') Ingeniería en Industrias Alimentarias
          div.footer-inicio-left_item-last
            span.footer-inicio-left_item-title institutos
            ul
              li 
                a(href='#') Instituto de Vivienda, Urbanismo y Construcción - IVUC
              li 
                a(href='#') Instituto de Investigación
        div.social-networks
          span.social-networks_title encuentranos en
          ul.social-networks_list
            li
              a(href='#')
                img(src='../img/twitter.png')
            li
              a(href='#')
                img(src='../img/youtube.png')
            li
              a(href='#')
                img(src='../img/facebook.png')
      div.footer-direccion.container
        span.fotter-direccion_top AV. LA FONTANA 1250 URB. STA. PATRICIA / TELÉFONO: (511) 208-6000 anexo 1104 FAX: 208-6024
        span.fotter-direccion_bot COPYRIGHT © ÁREA DE DISEÑO GRÁFICO Y MULTIMEDIA - FIA, USMP. TODOS LOS DERECHOS RESERVADOS 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
