.movil-no{
  @media only screen and (max-width: 768px) {
    display: none;
  }
}
.noticias{
  .noticias-title{
    color: #34536D;
    text-transform: uppercase;
    font-weight: normal;
    margin: 30px auto;
    @media only screen and (max-width: 991px) {
      font-size:20px;
    }
  }
  &-item{
    float:left;
    width: 25%;
    text-align: center;

    @media only screen and (max-width: 991px) {
      width: 50%;
      margin-bottom: 20px;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    &_imagen{
      width:90%;

      @media only screen and (max-width: 768px) {
        width: 50%;
        float:left;
      }
    }
    &_description{
      text-align: center;

      @media only screen and (max-width: 768px) {
        font-size: 12px;
        padding: 10px;
      }
    }
    &_leermas{
      background-color: #7C0E2D;
      color: white;
      padding: 5px 10px;

      @media only screen and (max-width: 768px) {
        float:right;
      }
    }

  }
}
