.options-middle{
  text-align: center;
  background-color: #CCD4DB;

  h2{
    font-weight: normal;
    position: relative;
    top:30px;
  }
  &-item{
    background-color: white;
    padding:25px;
    border:25px none solid;
    position:relative;
    bottom:120px;
    float:left;
    width:20%;
    height:280px;
    margin:0 25px;

    @media only screen and (max-width: 1200px) {
      width: 19%;
      margin:0 25px;

      h2{
        font-size:20px;
      }
    }
    @media only screen and (max-width: 991px) {
      width: 18%;
      margin: 0 25px;
      height: 200px;
      img{
        width:90%;
      }
      h2{
        font-size: 15px;
      }
    }
    @media only screen and (max-width: 768px) {
      width: 25%;
      margin:0;
      top:8px;
      margin-bottom: 20px;
      border:5px solid #CCD4DB;
      padding-left: 0px;
      padding-right: 0px;
      height:180px;

      h2{
        font-size: 10px;
        top:0px;
      }
      img{
        width: 50%;
      }
    }
    @media only screen and (max-width: 600px) {
      height: 150px;
    }
  }
}
