.acreditaciones{
  background-color: #677E92;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  &-title{
      font-size: 35px;
  }

  &-carreras{
    padding-top: 35px;

    &_item{
      text-align: center;
      @media only screen and (max-width: 768px) {
        padding-right: 60px;
      }
      a{
        color: white;

        @media only screen and (max-width: 995px) {
          h3{
            font-size: 20px;
            text-align: center;
          }
        }

        &:hover{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.slick-slide img {
    display: inline;
}

.slick-arrow{
  background-color: transparent;
  border: 0;
  font-size: 30px;
  position: relative;
}
.slick-prev{
  float: left;
  top:20px;
  @media only screen and (max-width: 768px) {
  }
}
.slick-next{
  float: right;
  bottom: 140px;
  @media only screen and (max-width: 768px) {
    bottom: 130px;
  }
}
