.autoridades{
  text-align: center;
  margin-top: 25px;

  &-title{
    color: #1A384B;
    font-size: 35px;
  }

  &-organos{

    &_item{
      width: 33.3333333%;
      float: left;
      padding: 30px;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
      img{
        width: 100%;
        @media only screen and (max-width: 768px) {
          width: 300px;
        }
      }
      a:hover{
        text-decoration: none;
        color: #424B52;
      }
    }
  }

}
