.convenios{
  padding: 30px;
  text-align: center;
  .convenios-title{
    font-size: 35px;
  }
  div{
    float:left;
  }
  p,a{
    text-align: left;
  }
  a{
    float:left;
  }


  &_imagen{
    width: 50%;
    text-align: center;
    img{
      width: 90%;
    }
    @media only screen and (max-width: 992px) {
      width: 100%;
    }

  }
  &_description{
    width: 50%;
    padding-top: 35px;
    @media only screen and (max-width: 992px) {
      width: 100%;
      text-align: center;
      p{
        text-align: left;
      }
      p:first-child{
        text-align: center;
      }

    }

    h2{
      color: #1A384B;
      font-size: 50px;
      @media only screen and (max-width: 1200px) {
        font-size: 40px;
      }
    }
    a{
      text-align: left;
    }
  }
}
