.decano-palabras{
  background-color: #D9EBF9;
  padding: 30px;

  div{
    float:left;
  }
  &_imagen{
    width: 50%;
    text-align: center;
    @media only screen and (max-width: 992px) {
      width: 100%;
    }
  }
  &_description{
    width: 50%;
    @media only screen and (max-width: 992px) {
      width: 100%;
      text-align: center;
      p{
        text-align: left;
      }
    }
    
    h2{
      color: #1A384B;
      font-size: 50px;
      @media only screen and (max-width: 1200px) {
        font-size: 40px;
      }
    }
  }
}
