.directorio{
  background-color: #1A384B;
  color: white;
  padding: 50px 15px;

  &-title{
    text-align: center;
    padding-bottom: 20px;
  }

  &-item{
    float: left;
    width: 33.333333%;
    @media only screen and (max-width: 680px) {
      width: 100%;
      text-align: center;
    }
    img{
      float:left;
      @media only screen and (max-width: 1050px) {
        float:none;
        position:absolute;
        width:30px;
      }
      @media only screen and (max-width: 680px) {
        position: initial;
        padding:20px 0;
      }
    }
    p{
      position:relative;
      left:20px;
      @media only screen and (max-width: 1050px) {
        text-align: center;
      }
      @media only screen and (max-width: 680px) {
        left:0;
      }
    }
    &_top{
      font-size: 20px;
      @media only screen and (max-width: 1050px) {
          font-size: 15px;
      }
    }

  }

}
