@media only screen and (max-width: 367px) {
  .navbar-header{
  background-color: #102639;

      .navbar-brand{
        position: relative;
        bottom: 50px;
      }
  }
}


.navbar-static-top{
  height: 85px;
  background-color: #102639;

  @media only screen and (max-width: 991px) {
    height: 120px;
  }
  @media only screen and (max-width: 768px) {
    height: 85px;
  }
}

.navbar{
  margin-bottom: 0px;

  .container{
    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }
}

.navbar>.container>.navbar-collapse{
  padding-top:15px;

  @media only screen and (max-width: 768px) {
    padding-right: 0px;
    background-color: #102639;
    margin-top:20px;
  }

  ul{
    margin-right: 15px;
    @media only screen and (max-width: 991px) {
      float: left !important;
      margin-top:15px;
    }
    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    li{
      @media only screen and (max-width: 768px) {
        background-color: #102639;
      }

      &.active{
        a{
          color: white;
          background-color: #102639;
        }
      }
      a{
        text-transform: uppercase;
        color: white;
        font-size: 12px;
      }
    }
  }
}
