.organigrama{
  text-align: center;
  border-top:1px solid #1A384B;
  border-bottom: 1px solid #1A384B;
  padding: 20px 0px;
  &-title{
    color: #1A384B;
    margin-bottom:25px;
  }
  a{
    img{
      @media only screen and (max-width: 995px) {
        width: 95%;
      }
    }
  }

}
