.submenu{

	&_list{
		list-style: none;
		position: relative;
		float: left;
		display: block;
		left: 45%;
		margin-top:10px;

		li{
			position: relative;
			float: left;
			display: block;
			right: 55%;
			padding: 5px 15px;
			border-right: 1px solid #34536D;

			a{
				color: #34536D;
			}

			&.active{

				a{
					color: #7C0E2D;
					font-weight: bold;
				}
			}

			&.last{
				border: 0;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.submenu{
		display: none;
	}
}
